.page {
  max-width: 1278px;
  margin: 0 auto;
}

.component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  padding: 15px 30px;
  margin: 20px 0 0;
  background-color: inherit;
  border-radius: 10px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
}

.button:hover,
.button:focus-visible {
  background-color: rgba(235, 235, 235, 0.65);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
}

.cover {
  display: flex;
  align-items: center;
  min-width: 400px;
  width: 45%;
  padding: 50px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  max-width: 250px;
  height: fit-content;
  margin: auto;
}

.image {
  object-fit: contain;
  max-height: 500px;
  flex: auto;
}

.details {
  flex: auto;
  height: 100%;
  max-width: 55%;
  padding: 30px;
}

.name {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.tagline {
  font-weight: 100;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 20px;
}

.specifications {
  margin-bottom: 20px;
}

.food_pairing h3 {
  font-weight: 600;
}

.food_pairing ul {
  padding-left: 30px;
  list-style: disc;
}

.description {
  margin-top: 20px;
}

@media screen and (max-width: 1318px) {
  .button {
    margin-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .cover {
    width: 100%;
  }

  .image {
    height: 50vw;
  }

  .details {
    max-width: 100%;
    padding: 20px;
  }
}
