.component {
  background-color: #f3f2f1;
  border-radius: 10px;
  min-width: 260px;
  max-width: 400px;
  width: content-box;
  padding: 30px 15px 30px;
  transition: transform 0.3s;
}

.component:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.imageWrapper {
  width: max-content;
  height: 205px;
  margin: 0 auto 30px;
}

.image {
  object-fit: contain;
  height: 100%;
  width: auto;
}

.name {
  font-weight: 700;
  color: #9d9d9d;
  margin-bottom: 15px;
}

.description {
  font-weight: 500;
}
