.component {
  height: 100%;
  max-width: 360px;
  min-width: 260px;
}

.link {
  display: block;
  padding: 30px 15px 30px;
  transition: transform 0.3s;
  background-color: rgba(174, 174, 174, 0.11);
  border-radius: 10px;
  height: inherit;
}

.link:hover,
.link:focus {
  transform: scale(1.02);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.imageWrapper {
  width: max-content;
  height: 205px;
  margin: 0 auto 30px;
}

.image {
  object-fit: contain;
  height: 100%;
  width: auto;
}

.name {
  font-weight: 700;
  font-size: 16px;
  color: #474747;
  margin-bottom: 15px;
}

.description {
  font-weight: 500;
}
