.container {
  display: flex;
  max-width: 1278px;
  padding: 20px 0;
  margin: auto auto;
}

.form {
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.search {
  width: 480px;
  height: 56px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-image: url(../../Images/searchDark.svg);
  background-position: 15px center;
  background-repeat: no-repeat;
  outline-style: none;
  border: none;
  background-color: #ffffff;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  display: inline;
}

.search::placeholder {
  color: #848484;
}

.button {
  display: inline;
  background-color: inherit;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 40px;
  font-size: 16px;
  cursor: pointer;
  color: #606060;
}

.button:hover {
  background-color: rgba(235, 235, 235, 0.65);
}

.button:focus {
  outline-style: none;
  background-color: rgba(235, 235, 235, 0.65);
}

.form:focus-within {
  box-shadow: 0 2px 9px rgba(116, 116, 116, 0.58);
}

@media screen and (max-width: 1318px) {
  .container {
    padding: 20px;
  }
}
@media screen and (max-width: 668px) {
  .search {
    width: calc(100vw - 188px);
  }
}
