* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Ibarra Real Nova", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  -webkit-appearance: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

input {
  display: block;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  margin: 0 auto;
}
